<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

    <!-- PROFILE PHOTO -->
    <div class="profile-center">
        <ion-avatar>
            <img [src]="photoURL">
        </ion-avatar>

        <ion-button fill="clear" class="change-photo-btn">
            <input type="file" accept="image/*" (change)="changePhoto($event)">
            Change Photo
        </ion-button>
    </div>

    <!-- NAME -->
    <ion-item>
        <ion-label position="floating">Full Name</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>

    <!-- EMAIL (read-only) -->
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [value]="email" readonly></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" class="ion-margin-top" (click)="saveProfile()">
        Save Changes
    </ion-button>

    <ion-button expand="block" color="medium" (click)="changePassword()">
        Change Password
    </ion-button>

    <ion-button expand="block" color="danger" (click)="confirmDeleteAccount()">
        Delete Account
    </ion-button>


</ion-content>